html, body, h1, h2, p, hgroup, div, section {
  margin: 0;
  padding: 0;
}
body {
  font-family: open-sans;
  font-size: 0;
}
p {
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.header {
  height: 1460px;
  background-image: url("images/background.jpg");
  background-size: cover;
  text-align: center;
}
.header hgroup {
  color: #713a84;
  padding-top: 190px;
  
}
.header hgroup h1 {
  font-size: 60px;
  font-weight: 300;
}
.header hgroup p {
  font-size: 20px;
  width: 630px;
  margin: 30px auto 580px;
}
.header .start {
  color: #fff;
  width: 925px;
  margin: 0 auto;
}
.header .start h2 {
  font-size: 40px;
  margin-top: 45px;
  margin-bottom: 30px;
}
.header .start p {
  margin-bottom: 38px;
}
.btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 61px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #58c4c4;
  border-top: 1px solid #7cdcdc;
  border-radius: 3px;
  width: 220px;
  height: 61px;
  display: inline-block;
  text-align: center;
}
.pers {
  height: 1020px;
  background: url(images/bg_pers.png); 
  background-size: cover;
}
.pers hgroup {
  text-align: right;
  color: #fff;
  width: 434px;
  margin-left: auto;
}
.pers hgroup h1 {
  font-size: 30px;
  font-weight: 300;
  padding-top: 117px;
  margin-bottom: 40px;
}
.pers hgroup p {
  margin-bottom: 40px;
}
.pers .img-caption {
  text-align: right;
  font-size: 12px;
  margin-top: 500px;
  color: #764c8c;
}
.content {
  height: 869px;
}
.content h1 {
  text-transform: uppercase;
  font-size: 15px;
  color: #521a66;
  padding-bottom: 32px;;
}
.content p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 85px;;
}
.content .left,
.content .right {
  width: 519px;
  display: inline-block;
  margin-top: 150px;
}
.content .left {
  border-right: 1px solid #ecf0f3;
  padding-right: 70px;
}
.content .right {
  padding-left: 70px;
}
.exp {
  height: 457px;
  background: url(images/bg_exp.png);
  text-align: center;
}
.exp h1 {
  color: #fff;
  font-size: 40px;
  padding-top: 128px;
  font-weight: 300;
}
.exp p {
  color: #a87bb7;
  font-weight: 400;
  width: 921px;
  margin: 29px auto 38px; 
}
.features {
  height: 470px;
  text-align: center;
}
.features .container {
  padding-top: 75px;
}
.feature {
  width: 220px;
  display: inline-block;
  margin: 0 17px;
}
.feature h1 {
  font-size: 15px;
  color: #652e79;
  text-transform: uppercase;
  margin: 22px auto 32px;
}
.feature p {
  font-size: 16px;
  line-height: 30px;
}
.social {
  height: 85px;
  background-color: #303d4c;
  text-align: center;
}
.social li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 25px;
}
.footer {
  height: 135px;
  background-color: #25303e;
  color: #83969f;
}
.footer p {
  padding-top: 45px;
}
.footer .copy {
  float: left;
  text-transform: uppercase;
  font-size: 15px;
}
.footer .copy-desc {
  float: right;
  font-size: 14px;
}